.UserInfo,
.CarInfo,
.RegCenter {
    width: 60%;
    height: 70%;
    display: flex;
    transform: translate(35%, 50%);
    justify-content: center;
    box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
    margin-bottom: 400px;
    margin-top: -50px;
}

.left-info {
    width: 35%;
    background: linear-gradient(to right, #01a9ac, #01dbdf);
    padding: 30px 25px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.left img {
    border-radius: 5px;
    margin-bottom: 10px;
}

.left h4 {
    margin-bottom: 10px;
}

.left p {
    font-size: 12px;
}

.right-info{
    width: 65%;
    background: #f2f2f2;
    padding: 25px 25px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right-info h3 {
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 1px solid #e0e0e0;
    color: #353c4e;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.info_data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.data {
    width: 45%;
}

.data h4 {
    color: #353c4e;
    margin-bottom: 5px;
}

.data p {
    font-size: 13px;
    margin-bottom: 10px;
    color: #919aa3;
}

.data .dataHover:hover {
    cursor: pointer;
    transition: 0.3s ease;
    color: #01a9ac;
}

.contact-icon {
    display: flex;
    gap: 20px;
}

.contact-icon li {
    color: #919aa3;
}